.home {
    background-image: url("https://www.teahub.io/photos/full/282-2820121_1080p-blue-grunge-background.jpg");

    height: 720px;
    width:auto ;
    text-align: center;
    color: azure;
    padding: 300px;
    
}

.xyz img{
    width: 350px;
    height: auto;
}
.red img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.bat{
    width: 300px;
    height: auto;
    border-radius: 50%;
    
}